:root {
    --accent: rgb(248,  246, 69)!important;
    --accent-alpha-70: rgba(248,  246, 69, 0.7)!important;
    --accent-alpha-20: rgba(248,  246, 69, 0.2)!important;
    --background: rgb(27, 17, 20)!important;
    --color: rgb(255, 255, 230)!important;
    --code-color: rgba(255, 255, 230, .9)!important;
    --border-color: rgba(255, 255, 230, .1)!important;
}

@font-face {
    font-family: 'Cozette';
    src: url('/fonts/CozetteVector.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Cozette', monospace !important;
    font-size: 1.6rem !important;
    line-height: 2.0rem !important;
    letter-spacing: 0.01em !important;
}

.button, .copyright, .post-date, .pagination__title-h {
    font-size: 1.6rem !important;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 1.6rem !important;
}

code, pre {
    font-family: 'Cozette', monospace !important;
    font-size: 1.6rem !important;
    line-height: 1.6rem !important;
    text-wrap: nowrap !important;
}

pre {
    background-color: var(--background) !important;
    color: var(--code-color) !important;

    border: .1rem solid var(--accent) !important;
}

blockquote {
    border-top: .1rem solid var(--accent) !important;
    border-bottom: .1rem solid var(--accent) !important;
}

.footer {
    opacity: 1;

    .footer__inner {
        opacity: .5;
    }
}

.posts .post:not(:last-of-type) {
    border-bottom: .1rem solid var(--accent-alpha-20) !important;
}

.menu {
    margin: 0px!important;
}

.menu__inner {
    justify-content: space-between;

    li {
        margin: 0 !important;
        padding: 0 5px;
        flex-grow: 1!important;
        display: flex;
        justify-content: center;
    }

    li:hover {
        color: var(--background)!important;
        background-color: var(--accent-alpha-70)!important;
    }

    .active {
        animation: blink 2s infinite;
        animation-timing-function: step-start;
    }
}

@keyframes blink {
    0% {
        color: var(--background);
        background-color: var(--accent);
    }
    50% {
        color: var(--accent);
        background-color: var(--background);
    }
    100% {
        color: var(--background);
        background-color: var(--accent);
    }
}

@media (max-width: 720px) {
    .menu__inner {
        /*flex-direction: column;*/
        justify-content: flex-start;
    }
}


/*.cheese-tint {*/
/*    filter: sepia(0.2) hue-rotate(12deg) saturate(2);*/
/*}*/
